* {
  margin: 1%;
  padding-top: 0%;
  box-sizing: border-box; }

.main__h1 {
  color: #ffd503;
  font-size: 69px;
  font-weight: 900;
  font-style: Arial, Helvetica, sans-serif;
  background-color: rgba(179, 42, 213, 0.737);
  border-radius: 10%; }

.main__contacto {
  background: #8f908d; }

.main__section-ol {
  font-style: arial, sans-serif;
  color: #30056d;
  font-weight: 300;
  font-size: 40px;
  background-color: rgba(230, 226, 8, 0.776);
  border-radius: 10%; }

.header_nav-ul {
  font-style: oblique;
  font-size: 30px;
  font-weight: 1000;
  color: #b70bf5;
  background-color: rgba(241, 207, 16, 0.728);
  border-radius: 10%;
  text-align: center;
  padding: 1rem; }

li {
  list-style-type: lower-greek;
  text-align: center;
  font-style: oblique; }

.li3 {
  background: #1b0035; }

h3 {
  font-size: 35px;
  font-weight: 200; }

.grid-his {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 50px 30px; }

.h {
  background-color: green;
  color: whitesmoke; }

.main_p--historia {
  background-color: lightgreen;
  font-size: 25px;
  font-style: helvetica;
  display: grid;
  gap: 1rem;
  padding: 50px 30px; }

.his {
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

table, th, td {
  background-color: rgba(251, 255, 19, 0.788);
  font-weight: 800;
  border-radius: 5%;
  border: 1PX solid black; }

.como_estas {
  background-color: rgba(239, 255, 15, 0.775);
  border-radius: 27%;
  text-align: center; }

.main__form {
  background-color: #8305ad;
  color: #eeff02; }

.main__form1 {
  background-color: #c2bec3;
  color: #8305ad;
  background-color: blanchedalmond; }

.main__form-fieldset {
  background-color: rgba(243, 228, 9, 0.547); }

.main__form-presupuesto {
  color: blueviolet; }

.footer__0 {
  background-color: rgba(196, 196, 124, 0.679); }

body {
  background-image: url(../img/escalera.jpg);
  width: 100%;
  height: 100%; }

.footer__img0 {
  width: 600px;
  position: relative; }

.footer__img1 {
  width: 800px;
  position: relative; }

.h1-ol {
  display: flex;
  align-items: center; }

#grilla {
  height: auto;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: 'h1' 'ool' 'tabla' 'form' 'form2'; }

header {
  grid-area: header; }

h1 {
  grid-area: h1; }

.main__section-ol {
  grid-area: ool; }

table {
  grid-area: tabla; }

.form_area {
  grid-area: form; }

.form_area2 {
  grid-area: form2; }

.footer__0 {
  grid-area: footer; }

.h1-ol {
  display: flex; }

@media screen and (min-width: 768px) {
  #grilla {
    display: flex;
    flex-direction: column; }
  .h1-ol {
    display: flex;
    align-items: center; } }

@media screen and (min-width: 120px) and (max-width: 767px) {
  #grilla {
    display: flex;
    flex-direction: column; }
  table, th, td {
    display: flex;
    justify-content: space-evenly; }
  .h1-ol {
    display: flex;
    flex-direction: column; }
  body {
    background-image: url(../img/estrellas-1-e1581020428572.jpg);
    width: 100%;
    height: 100%; }
  .main__h1 {
    font-size: 52px; } }
