@media screen and (min-width:768px) {
 #grilla{
        display: flex;
        flex-direction: column;
}
.h1-ol {
        display: flex;
        align-items: center;
} 
}

@media screen and (min-width:120px) and (max-width: 767px) {

    #grilla{
    display: flex;
    flex-direction: column;
}

table , th , td  {
    display: flex;
    justify-content: space-evenly;
}
 
.h1-ol {
       display:flex;
       flex-direction: column;
} 
   body {
    background-image: url(../img/estrellas-1-e1581020428572.jpg) ;
    width:100%;
    height: 100%;
}
    .main__h1  {
        font-size:52px ;
}
.grid-his{
    display: grid;
    grid-template-columns: repeat(1fr );
    gap: 1rem;
    padding: 50px 30px;
    justify-content: space-around;
     
}
}